{{>layout/header}}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://via.placeholder.com/600x300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://via.placeholder.com/600x300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://via.placeholder.com/600x300" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<nav class = "navbar navbar-light bg-light">
    <div class = "container-xxl">
        <span class = "navbar-text">
            공지사항 > 해당 웹사이트는 moremore 공식 웹사이트입니다.
        </span>
    </div>
</nav>


<div>
    <div class = "container-xxl h-100 text-dark mt">
        <p class = "display-4 text-center mt-5 mb-5" style = "font-weight : bold"> MOREMORE 란?</p>
        <blockquote class = "blockquote text-center mt-5">
            <p class = "h4" style = "font-weight : bold;">상상을 현실로</p>
            <p class = "h5">상상을 현실로 바꾸는 방법은 행동으로 옮기는 것이다.</p>
            <blockquote class = "blockquote-footer">목표를 세우고 천천히 실천하자.</blockquote>
        </blockquote>
        <blockquote class = "blockquote text-center mt-5">
            <p class = "h4" style = "font-weight : bold;">제약을 걸지말자</p>
            <p class = "h5">자신에 대한 제약은 가능성을 막는다.</p>
            <blockquote class = "blockquote-footer">제약보다는 방법을 찾자.</blockquote>
        </blockquote>
        <blockquote class = "blockquote text-center mt-5">
            <p class = "h4" style = "font-weight : bold">실패하자</p>
            <p class = "h5">실패는 자기도 모르는 사이 늘 하고있다, 그러니 두려워 할 필요는 없다.</p>
            <bloackquote class = "blockquote-footer">실패를 통해 성장하자.</bloackquote>
        </blockquote>
    </div>
</div>
<div style = "height : 260px;">
    <div class = "container-fluid h-100 bg-dark mt-5 mb-5 text-light" style = "display : grid;">
        <div class = "row">
            <div class = "col align-self-center">
                <blockquote class = "blockquote text-center">
                    <p class = "display-3" style = "font-weight : bold;">
                        인원
                    </p>
                    <p class = "display-5" style = "font-weight : bold;">
                        1
                    </p>
                    <a href="#" class = "btn btn-primary">함께하기</a>
                </blockquote>

            </div>
        </div>
    </div>
</div>

<div class = "container-xl mt-5">
    <p class = "display-5 text-center" style = "font-weight : bold;">진행중</p>

    <div class = "container" style = "display : flex; align-items : center; justify-content : center;">
        <div class = "card center-block" style = "width : 28rem;">
            <img src="http://via.placeholder.com/600x300" alt="">
            <div class = "card-body" style = "height : 140px;">
                <h5 class = "card-title" style = "font-weight : bold;">URTrader</h5>
                <p class = "card-text">
                    비트코인 자동거래 프로그램
                </p>
                <a href="#" class = "btn btn-primary">READ POST</a>
                <a href="#" class = "btn btn-secondary">GITHUG</a>
            </div>
        </div>
    </div>

</div>
<div class = "container-xxl mt-5">
    <p class = "display-5 text-center mt-5" style = "font-weight : bold">출시 완료</p>
    <table class = "table table-striped table-hover border border-dark rounded mt-5 mb-5">
        <thead>
            <tr>
                <th scope = "col">#</th>
                <th scope = "col">프로젝트 명</th>
                <th scope = "col">설명</th>
                <th scope = "col">유지보수</th>
                <th scope = "col">유료</th>
                <th scope = "col">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row">1</th>
                <td>URTrader</td>
                <td>비트코인 자동 거래 프로그램</td>
                <td>x</td>
                <td>O</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope = "row">1</th>
                <td>URTrader</td>
                <td>비트코인 자동 거래 프로그램</td>
                <td>x</td>
                <td>O</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}